body {
  font-family: arial; 
}

#content {
  margin: auto;
  font-family: arial;
}

#progress {
  margin: auto;
  text-align: center;
}

#canvasContainer {
  background: url('../img/frames/000.png') center;
}

footer {
  text-align: center;
}